/* App.css */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 12rem;
  background: linear-gradient(to bottom, #18181b, #450a0a);
  padding: 1rem;
  border: 1px solid #e5e7eb;
}

.logo-placeholder {
  background-color: #d1d5db;
  width: 3.5rem;
  height: 2rem;
  margin-bottom: 1.5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;
}

.main-content {
  flex: 1;
  background: linear-gradient(to bottom right, #000000, #450a0a);
  padding: 1rem;
  position: relative;
}

.circle-row {
  display: flex;
  overflow: scroll;
  gap: 1rem;
  margin-bottom: 1rem;
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #d1d5db;
  border-radius: 50%;
}

.right-sidebar {
  width: 12rem;
  background: linear-gradient(to bottom right, #171717, #000000);
  padding: 1rem;
  border: 1px solid #e5e7eb;
}
