.main {
  background: linear-gradient(
    200deg,
    hsl(0, 0%, 5%) 0%,
    #000000 26%,
    #000000 41%,
    #080000 52%,
    #100000 70%,
    #080000 88%,
    #810000 100%
  );
  width: 100vw;
  height: 100vh;
}
