@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body{
  font-family: syne;
}
nav {
  margin: 60px 20px;
}

.imageside {
  display: flex;
  align-items: center;
  justify-content: start;
}
button {
  box-shadow: 0px 0px 2px white;
}
SheetHeader {
  margin: -40px;
}
#HoverCardTrigger {
  box-shadow: 0px 0px 2px white;
  padding:8px  30px;
  cursor: pointer;
  border-radius: 8px;
}
#PopoverTrigger{
    box-shadow: 0px 0px 2px white;
    padding:8px  40px;
    cursor: pointer;
    border-radius: 8px;
}
#logout{
  box-shadow: 0px 0px 2px white;
}/* styles.css or global.css */
* {
  scrollbar-width: thin;
  scrollbar-color: #004d9667 #000000; /* thumb color and track color */
}
#post{background: #101828b0;
}
#post:hover{
  background: #101828;
  box-shadow: 3px 3px 20px #2b3852;
}
#story{
border: 2px solid #006e6e8e;
cursor: pointer;
transition:all 0.3s ease-in;
}

#story:hover{
  border: 2px solid #00fffff8;
  cursor: pointer;
  }
  
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000; /* gray-100 */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color:rgb(0, 75, 146); /* red-400 */
  border-radius: 8px;
  border: 2px solid #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #003e77; /* red-500 */
}

#div{
  background:#14131a;
}