@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body{
  font-family: syne;
}
nav {
  margin: 60px 20px;
}

.imageside {
  display: flex;
  align-items: center;
  justify-content: start;
}
button {
  box-shadow: 2px 2px 12px rgb(192, 192, 192);
}
SheetHeader {
  margin: -40px;
}
#HoverCardTrigger {
  box-shadow: 2px 2px 20px white;
  padding:8px  30px;
  cursor: pointer;
  border-radius: 8px;
}
#PopoverTrigger{
    box-shadow: 2px 2px 20px white;
    padding:8px  40px;
    background: #000;
    cursor: pointer;
    border-radius: 8px;
}
#logout{
    box-shadow: 2px 2px 5px white;
}/* styles.css or global.css */
* {
  scrollbar-width: thin;
  scrollbar-color: #71b7f8 #000000; /* thumb color and track color */
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000; /* gray-100 */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #71b7f8; /* red-400 */
  border-radius: 8px;
  border: 2px solid #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #003e77; /* red-500 */
}
